<div class="mainsheet" ng-controller="InvoiceController" ng-init="setup()">

  <form name="invoice">

    <section class="vertspacer">
      <button ng-click="toggleModal('dialogAddToInvoice')">Add more time.</button>
      <div class="row">
        <div ng-repeat="x in invoicelist">
          {{x.TimeID}}
        </div>
      </div>
    </section>

    <div id="dialogAddToInvoice" class="modal fade" ng-form="AddToInvoice">
      <div class="modal-dialog largemodal">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Unbilled items.</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div>
                <table class="table table-striped table-hover reduced nomargin">
                  <thead>
                    <tr>
                      <th class="r0"><input id="chk_SelectAll" ng-click="selectAll()" type="checkbox" /></th>
                      <th class="r1 TimeID">Id</th>
                      <th class="r2 TimeDate">TimeDate</th>
                      <th class="r3 Customer">Customer</th>
                      <th class="r4 Service">Service</th>
                      <th class="r5 Description">Description</th>
                      <th class="r6 Hours">Hours</th>
                      <th class="r7"></th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="invoiceaddbody">
                <table id="invoiceModal" class="table table-striped table-hover reduced">
                  <tbody>
                    <tr ng-repeat="x in times">
                      <td class="pointer r0" ng-click="selectRow($index)"><input class="checkadd" ng-click="selectRow($index)" id="chk_{{$index}}" type="checkbox"></td>
                      <td class="pointer r1" ng-click="selectRow($index)"><div class="datadisplayellipsis row1">{{x.TimeID}}</div></td>
                      <td class="pointer r2" ng-click="selectRow($index)"><div class="datadisplayellipsis row2">{{x.TimeDate}}</div></td>
                      <td class="pointer r3" ng-click="selectRow($index)"><div class="datadisplayellipsis row3">{{x.Customer}}</div></td>
                      <td class="pointer r4" ng-click="selectRow($index)"><div class="datadisplayellipsis row4">{{x.Service}}</div></td>
                      <td class="pointer r5" ng-click="selectRow($index)"><div class="datadisplayellipsis row5">{{x.Description}}</div></td>
                      <td class="pointer r6" ng-click="selectRow($index)"><div class="datadisplayellipsis row6">{{x.Hours}}</div></td>
                    </tr>
                  </tbody>
                </table> <!-- invoiceModal -->
              </div> <!-- .invoiceaddbody -->
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="addItems" ng-model="addItems" ng-click="addItems()" class="btn btn-primary">Add Items</button>
          </div>
        </div><!-- .modal-content -->
      </div><!-- .modal-dialog -->
    </div>

  </form>

</div>