<section class="login">
  <form class="loginform" name="loginform" novalidate
        ng-submit="login()">

    <div class="alertmsg shadowbox center">Login</div>

    <input class="login-input" type="email" name="email" placeholder="Email"
           ng-model="user.email" ng-required="true">

    <input class="login-input" type="password" name="password" placeholder="Password"
           ng-model="user.password" ng-required="true">

    <div class="margcenter center">
      <button type="submit" class="btn"
              ng-disabled="loginform.$invalid">Login</button>
      <p class="center">or <a href="#/register">Register</a></p>
    </div>
  </form>
</section>