<section ng-controller="HeaderController" class="login">
  <form class="loginform" name="loginform" novalidate
        ng-submit="login()">

    <div class="alertmsg shadowbox center">Login</div>

    <input class="login-input" type="email" name="email" placeholder="Email"
           ng-model="email" ng-required="true">

    <input class="login-input" type="password" name="password" placeholder="Password"
           ng-model="password" ng-required="true">

    <div class="margcenter center">
      <button type="submit" class="btn"
              ng-disabled="loginform.$invalid">Login</button>
      <div class="center">or <a href="#/register">Register</a></div>
      <div class="center"><a href="#/reset">Forgot password?</a></div>
    </div>
  </form>
</section>