<div ng-controller="HeaderController">
  <div id="navbar" class="navbar navbar-default">
    <div id="navbar-container" class="navbar-container">
      <div class="navbar-header pull-left">
        <a class="navbar-brand" href="#/">&nbsp;Timesheet&nbsp;</a>
      </div>
      <div class="navbar-header" role="navigation">
        <ul class="nav navbar-nav customnav">
          <li ng-class="{ active: isActive('/home')}"><a ng-href="#/home">Home</a></li>
          <li ng-class="{ active: isActive('/timesheet')}"><a ng-href="#/timesheet">Timesheet</a></li>
          <li ng-class="{ active: isActive('/timesheetold')}"><a ng-href="#/timesheetold">Timesheet Old</a></li>
          <!--<li ng-class="{ active: isActive('/login')}"><a ng-href="#/login">Login</a></li>-->
        </ul>
      </div>
      <div id="navright" class="navbar-header pull-right">
        <div class="navbar-brand" ng-show="loggedIn == true">
          Welcome, {{username}} (logout)!
        </div>
        <div class="navbar-brand" ng-show="loggedIn == false">
          Please <a  ng-href="#/login">login!</a>
        </div>
      </div>
    </div><!-- navbar-container -->
  </div><!-- navbar -->
</div><!-- HeaderController -->