<section class="login">
  <form class="loginform" name="registerform" novalidate
    ng-submit="register()">

    <div class="alertmsg shadowbox center">Register</div>

    <input class="login-input" type="firstname" name="firstname" placeholder="First Name"
       ng-model="firstname" ng-required="true">
    <p class="error"
       ng-show="registerform.firstname.$invalid && registerform.firstname.$touched">
      Must have a first name
    </p>

    <input class="login-input" type="lastname" name="lastname" placeholder="Last Name"
       ng-model="lastname" ng-required="true">
    <p class="error"
       ng-show="registerform.lastname.$invalid && registerform.lastname.$touched">
      Must have a last name
    </p>

    <input class="login-input" type="email" name="email" placeholder="Email"
       ng-model="email" ng-required="true">
    <p class="error"
       ng-show="registerform.email.$invalid && registerform.email.$touched">
      Must be valid email.
    </p>

    <input class="login-input" type="password" name="password" placeholder="Password"
       ng-model="password" ng-required="true">
    <p class="error"
       ng-show="registerform.password.$invalid && registerform.password.$touched">
      Must be valid password.
    </p>

    <div class="margcenter center">
      <button type="submit" class="btn"
        ng-disabled="registerform.$invalid">Register</button>
      <p class="center">or <a href="#/login">Login</a></p>
    </div>
  </form>
</section>