<section class="login">
  <form class="loginform" name="resetdoform" novalidate
        ng-submit="resetDo()">

    <div class="alertmsg shadowbox center">Reset Password</div>

    <input class="login-input" type="email" name="email" placeholder="Email"
           ng-model="email" ng-required="true">
    <p class="error"
       ng-show="resetdoform.email.$invalid && resetdoform.email.$touched">
      Must be valid email.
    </p>

    <input class="login-input" type="text" name="confirmationcode" placeholder="Confirmation Code"
           ng-model="confirmationcode" ng-required="true">

    <input class="login-input" type="password" name="password" placeholder="New Password"
           ng-model="password" ng-required="true">

    <div class="margcenter center">
      <button type="submit" class="btn"
              ng-disabled="resetdoform.$invalid">Confirm</button>
    </div>
  </form>
</section>