<div class="mainsheet" ng-controller="SheetController" ng-init="setup()">

  <form name="timesheet">
    <div class="inputwrapper" style="width: 100%;">

      <section style="margin: auto;">
        <div class="left">
          <div class="datepicker">
            <p class="input-group">
              <input type="text" class="form-control fancyinput"
                     datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions"
                     date-disabled="disabled(date, mode)" show-button-bar="false" ng-required="true" close-text="Close" ng-change="getTimes()" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div> <!-- datepicker -->
        </div> <!-- DatePickerController -->
        <div ng-click="toggleModal('dialogAddTime', 'show')" role="button" class="btn btn-default addRow">Add a row</div>
      </section>

      <section>
        <table class="fancygrid">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Service/item</th>
              <th>Description</th>
              <th>M<br />{{DateM}}</th>
              <th>Tu<br />{{DateTu}}</th>
              <th>W<br />{{DateW}}</th>
              <th>Th<br />{{DateTh}}</th>
              <th>F<br />{{DateF}}</th>
              <th>Sa<br />{{DateSa}}</th>
              <th>Su<br />{{DateSu}}</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-form="weekly_{{$index}}" ng-keypress="trigger($index)" ng-repeat="x in times">
              <td>
                <!--<input name="iCust" ng-model="x.Customer" class="fancyinput" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}" value="{{x.Customer}}" customer></td>-->
                <select name="iCust" wid="{{x.Customer}}" name="iService" ng-model="x.CustomerID" class="form-control">
                  <option ng-selected="x.CustomerID == customer.CustomerID" ng-repeat="customer in customers" value="{{customer.CustomerID}}">{{customer.CustomerName}}</option>
                </select>
              <td>
                <!--<input ng-model="x.Service" class="fancyinput" placeholder="..." service />-->
                <!--<select name="iService" wid="{{x.WeeklyID}}" name="iService"-->
                    <!--ng-model="x.Service"-->
                    <!--ng-options="option.ServiceName for option in services track by option.ServiceID"-->
                    <!--class="form-control">-->
                <!--</select>-->
                <select name="iService" wid="{{x.WeeklyID}}" name="iService" ng-model="x.ServiceID" class="form-control">
                  <option ng-selected="x.ServiceID == service.ServiceID" ng-repeat="service in services" value="{{service.ServiceID}}">{{service.ServiceName}}</option>
                </select>
              </td>
              <td><textarea name="ta_Desc" ng-model="x.Description" class="fancyinput" wid="{{x.WeeklyID}}" data-old-value="{{x.Description}}" description>{{x.Description}}</textarea></td>
              <td><input name="iM" ng-model="x.M" class="fancyinput" placeholder="0.00" tid="{{x.MTimeID}}" wid="{{x.WeeklyID}}" resourcedate="{{DateMFull}}" data-old-value="{{x.M}}" value="{{x.M}}" time></td>
              <td><input name="iTu" ng-model="x.Tu" class="fancyinput" placeholder="0.00" tid="{{x.TuTimeID}}" wid="{{x.WeeklyID}}" resourcedate="{{DateTuFull}}" data-old-value="{{x.Tu}}" value="{{x.Tu}}" time></td>
              <td><input name="iW" ng-model="x.W" class="fancyinput" placeholder="0.00" tid="{{x.WTimeID}}" wid="{{x.WeeklyID}}" resourcedate="{{DateWFull}}" data-old-value="{{x.W}}" value="{{x.W}}" time></td>
              <td><input name="iTh" ng-model="x.Th" class="fancyinput" placeholder="0.00" tid="{{x.ThTimeID}}" wid="{{x.WeeklyID}}" resourcedate="{{DateThFull}}" data-old-value="{{x.Th}}" value="{{x.Th}}" time></td>
              <td><input name="iF" ng-model="x.F" class="fancyinput" placeholder="0.00" tid="{{x.FTimeID}}" wid="{{x.WeeklyID}}" resourcedate="{{DateFFull}}" data-old-value="{{x.F}}" value="{{x.F}}" time></td>
              <td><input name="iSa" ng-model="x.Sa" class="fancyinput" placeholder="0.00" tid="{{x.SaTimeID}}" wid="{{x.WeeklyID}}" resourcedate="{{DateSaFull}}" data-old-value="{{x.Sa}}" value="{{x.Sa}}" time></td>
              <td><input name="iSu" ng-model="x.Su" class="fancyinput" placeholder="0.00" tid="{{x.SuTimeID}}" wid="{{x.WeeklyID}}" resourcedate="{{DateSuFull}}" data-old-value="{{x.Su}}" value="{{x.Su}}" time></td>
              <td><span ng-model="x.Sum"></span></td>
              <td>
                <button class="tsbutton" ng-disabled="weekly_{{$index}}.$pristine" name="save" title="Save" ng-click="saveRow($index)"><i class="fa fa-floppy-o"></i></button>
                <button class="tsbutton" ng-disabled="weekly_{{$index}}.$pristine" name="reset" title="Reset" ng-click="resetForm($index)"><i class="fa fa-repeat"></i></button>
                <button class="tsbutton" ng-disabled="weekly_{{$index}}.WeeklyID.$modelValue < 1" name="delete" title="Delete" ng-click="deleteRow($index)"><i class="fa fa-trash"></i></button>
                <div id="weekly_{{$index}}_hidables" style="display: none;">
                  <input name="WeeklyID" ng-model="x.WeeklyID" />
                </div>
              </td>
            </tr> <!-- weekly_{{$index}} -->
          </tbody>
        </table>
      </section>

      <!--<section style="margin-top: 5px;">-->
        <!--<table class="fancygrid">-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th>Customer</th>-->
            <!--<th>Service/item</th>-->
            <!--<th>Description</th>-->
            <!--<th>M<br />{{DateM}}</th>-->
            <!--<th>Tu<br />{{DateTu}}</th>-->
            <!--<th>W<br />{{DateW}}</th>-->
            <!--<th>Th<br />{{DateTh}}</th>-->
            <!--<th>F<br />{{DateF}}</th>-->
            <!--<th>Sa<br />{{DateSa}}</th>-->
            <!--<th>Su<br />{{DateSu}}</th>-->
            <!--<th>Total</th>-->
            <!--<th></th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr ng-form="weekly_{{$index}}_2" ng-keypress="trigger($index)" ng-repeat="x in times">-->
            <!--<td><div class="editable" ng-model="x.Customer" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.Customer}}</div></td>-->
            <!--<td><div class="editable" ng-model="x.Service" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.Service}}</div></td>-->
            <!--<td><div class="editable" ng-model="x.Description" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.Description}}</div></td>-->
            <!--<td><div class="editable" ng-model="x.M" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.M}}</div></td>-->
            <!--<td><div class="editable" ng-model="x.Tu" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.Tu}}</div></td>-->
            <!--<td><div class="editable" ng-model="x.W" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.W}}</div></td>-->
            <!--<td><div class="editable" ng-model="x.Th" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.Th}}</div></td>-->
            <!--<td><div class="editable" ng-model="x.F" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.F}}</div></td>-->
            <!--<td><div class="editable" ng-model="x.Sa" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.Sa}}</div></td>-->
            <!--<td><div class="editable" ng-model="x.Su" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.Su}}</div></td>-->
            <!--<td><div ng-model="x.Sum" wid="{{x.WeeklyID}}" data-old-value="{{x.Customer}}">{{x.Sum}}</div></td>-->
            <!--<td>-->
              <!--<button class="tsbutton" ng-disabled="weekly_{{$index}}.WeeklyID.$modelValue < 1" name="delete" title="Delete" ng-click="deleteRow($index)"><i class="fa fa-trash"></i></button>-->
              <!--<div id="weekly_{{$index}}_hidables_2" style="display: none;">-->
                <!--<input name="WeeklyID" ng-model="x.WeeklyID" />-->
              <!--</div>-->
            <!--</td>-->
          <!--</tr> &lt;!&ndash; weekly_{{$index}} &ndash;&gt;-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</section>-->

    </div>

    <div id="dialogAddTime" class="modal fade" ng-form="InsertNewRecord">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Time Sheet Entry</h4>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-lg-4">
                <label for="add_Date">Date:</label>
                <div ng-model="add_Date" class="datepicker" id="add_Date">
                  <p class="input-group">
                    <input type="text" class="form-control fancyinput"
                           datepicker-popup="{{format}}" ng-model="add_Date" is-open="openedAdd" datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)" show-button-bar="false" ng-required="true" close-text="Close" ng-change="" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openAdd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div> <!-- datepicker -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="add_Customer">Customer: <img src="_images/add.png" class="addButton" ng-click="toggleModal('dialogAddCustomer', 'show')" ></label>
                  <select id="add_Customer"
                          ng-model="selectCustomers"
                          ng-options="option.CustomerName for option in customers track by option.CustomerID"
                          class="form-control"></select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="add_Service">Service: <img src="_images/add.png" class="addButton" ng-click="toggleModal('dialogAddService', 'show')" ></label>
                  <select id="add_Service"
                          ng-model="selectServices"
                          ng-options="option.ServiceName for option in services track by option.ServiceID"
                          class="form-control"></select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="add_Hours">Hours:</label>
                  <input ng-model="add_Hours" type="text" class="form-control" id="add_Hours" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="add_Desc">Description:</label>
                  <textarea ng-model="add_Desc" class="form-control" rows="5" id="add_Desc"></textarea>
                </div>
              </div>
            </div>
            <!--<div class="row right btnsave">-->
              <!--<button ng-click="insertNewTime()" class="btn">Add New Record</button>-->
            <!--</div>-->
            <!--<div class="clrb spacer"></div>-->
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button ng-click="insertNewTime()" ng-disabled="InsertNewRecord.$pristine" class="btn btn-primary">Save</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div id="dialogAddCustomer" class="modal fade" ng-form="InsertCustomer">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Customer</h4>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="customername">Customer:</label>
                  <input id="customername" ng-model="customername" class="fancyinput" autofocus/>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button ng-click="addCustomer()" ng-disabled="InsertCustomer.$pristine" class="btn btn-primary">Add Customer</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div id="dialogAddService" class="modal fade" ng-form="InsertService">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Service</h4>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label for="servicename">Service:</label>
                  <input id="servicename" ng-model="servicename" class="fancyinput"  autofocus />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="hourlyrate">Hourly Rate:</label>
                  <input id="hourlyrate" ng-model="hourlyrate" class="fancyinput" />
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button ng-click="addService()" ng-disabled="InsertService.$pristine" class="btn btn-primary">Save</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

  </form>

</div>